@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.155rem;
    min-height: 100vh;
}

main{
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 60vw bottom 50vh, left 60vw top 50vh;
}

.card{
min-width: 330px;
height: 400px;
background: #fff;
display: flex;
justify-content: stretch;
flex-direction: column;
border-radius: 15px;
overflow: hidden;
}

.card-img{
    min-height: 150px;
    background-image: url(./images/bg-pattern-card.svg);
    background-size:cover;
}

.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.pic{
    max-height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: -50px;
}

h1, .stats{
    font-size: 1em;
    font-weight: bolder;
}

.age{
    color: var(--dark-gray)
}

.location{
    font-size: 0.8em;
    margin-top: 10px;
    color: var(--dark-gray);
}

.line{
    background: var(--dark-gray);
    height: 1px;
    width: 100%;
    opacity: 0.2;
    margin-top: 25px;
    margin-bottom: 40px;
}

.stats{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.stats li{
    text-align: center;
}

.stat-title{
    font-size: 0.7em;
    color: var(--dark-gray);
    font-weight: normal;
}

@media screen and (min-width: 500px){
    .card{
        width: 400px;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff
}
.attribution a { color: hsl(228, 45%, 44%); }